.logo {
    width: 6rem;
    margin: 2rem;
}

.primary-header {
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    list-style: none;
    width: 35vw;
}
.menu-icon {
    display: none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link:hover {
  //border-bottom: 4px solid #fff;
  //transition: all 0.175s ease-out;
  color: #E0AAFF;
}

